.wrap_card-list{
    display: flex;
    justify-content: flex-start;
}

.card_list{
    background: #cecece;
    height: 100wh;
}

.lane_header{
    display: flex;
    justify-content: space-around;
    padding: 5px;
}


